checkpoints
cache
app_data
.venv
/*.jpg
/*.png
/mmdetection
/sly_project*
*.pth
/model
__pycache__
/work_dirs
/train_split.json
/val_coco_instances.json
/val_split.json
todo.txt
debug_config.py
local.env
